spring:
  application:
    name: spring-project
  r2dbc:
    url: r2dbc:postgresql://{SUPABASE_HOST}:{SUPABASE_PORT}/{SUPABASE_DB}
    username: {SUPABASE_USERNAME}
    password: {SUPABASE_PASSWORD}
    pool:
      initial-size: 5
      max-size: 20
      max-idle-time: 30m
  flyway:
    url: jdbc:postgresql://{SUPABASE_HOST}:{SUPABASE_PORT}/{SUPABASE_DB}
    user: {SUPABASE_USERNAME}
    password: {SUPABASE_PASSWORD}

app:
  cors:
    allowed-origins:
      - http://localhost:4200
